@charset "utf-8";
/* CSS Document */

html, body {
    /*font-family: 'Arial', serif;*/
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    color: #000000;
    font: 13px/1.231 Tahoma, Calibri, Verdana, Geneva, sans-serif;
    /*font-size: 13px;
    font-family: Tahoma, Calibri, Verdana, Geneva, sans-serif;*/
    background-color: #5D92B4;
    background-position: top center;
    background-image: url(//pr2hub.com/img/top.jpg);
    background-repeat: no-repeat;
}

a {
    color: #3300F8;
}

#container {
    min-height: 100%;
    position: relative;
}

#header {
    width: 100%;
    height: 175px;
    margin-left: auto;
    margin-right: auto;
}

#body {
    padding-bottom: 375px;
    min-height: 300px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 375px;
    background-image: url(//pr2hub.com/img/bottom.jpg);
    background-position: top center;
    z-index: 1;
}

.footer_links {
    height: 15px;
    width: 650px;
    border-radius: 7px;
    background-color: #EFF4F8;
    color: #000000;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    text-align: center;
    padding: 20px 0 20px 0;
}

.footer_links > li {
    display: inline-block;
    padding: 0 25px 0 25px;
}

.footer_links > li > a {
    text-decoration: none;
    color: #000000;
}

.footer_links > li > a:hover {
    color: #999999;
}

.content {
    border-radius: 7px;
    width: 850px;
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #EFF4F8;
}

.game_holder {
    border-radius: 7px;
    width: 100%;
    text-align: center;
}

.archived {
    color: #666666;
}

.date {
    color: #666666;
}

table, th, td {
    padding: 5px;
    text-align: center;
    border: 1px solid #000000;
    border-collapse: collapse;
}

table.noborder, th.noborder, td.noborder {
    text-align: left;
    border: none;
}

input[type="text"],
input[type="datetime-local"],
textarea,
select {
    font: 13px/1.231 Tahoma, Calibri, Verdana, Geneva, sans-serif;
    color: #000000;
    background: rgb(255, 255, 255) none;
    border: 1px solid #52544E;
    padding: 4px;
    outline: 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px
}

input#exp_date {
    width: 150px;
}

button, input[type="submit"], input[type="reset"] {
    cursor: pointer;
    padding: 4px 8px;
    font: bold 11.5px Tahoma,Calibri,Verdana,Geneva,sans-serif;
    border: 1px solid #52544E;
    border-radius: 5px;
    color: #424242;
    background: #e9e9e9 url(https://pr2hub.com/img/btn.png) repeat-x top left;
}

button:hover, input[type="submit"]:hover, input[type="reset"]:hover {
    border: 1px solid #80827c;
    color: #55C546;
}

