@charset "utf-8";
/* CSS Document */

html, body {
	font-family: 'Arial', serif;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	color: #000000;
	font-size: 14px;
	font-family: 'Arial', serif;
	background-color: #5D92B4;
	background-position: top center;
	background-image: url(//pr2hub.com/img/top.jpg);
	background-repeat: no-repeat;
}



#container {
	min-height: 100%;
	position: relative;
}

#header {
	width: 500px;
	height: 125px;
	margin-left: auto;
	margin-right: auto;
}

#body {
	padding-bottom: 375px;
	min-height: 300px;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 375px;
        background-image: url(//pr2hub.com/img/bottom.jpg);
	background-position: top center;
	z-index: 1;
}



.footer_links {
    height: 15px;
    width: 650px;
    border-radius: 7px;
    background-color: #EFF4F8;
    color: #000000;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    text-align: center;
    padding: 20px 0 20px 0;
}

.footer_links > li {
    display: inline-block;
    padding: 0 25px 0 25px;
}

.footer_links > li > a {
    text-decoration: none;
    color: #000000;
}

.footer_links > li > a:hover {
    color: #999999;
}

.content {
	border-radius: 7px;
	max-width: 650px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	background-color: #EFF4F8;
}

.game_holder {
	border-radius: 7px;
	width: 100%;
	text-align: center;
}

.above_game_ad {
	text-align: center;
	padding: 0px 0 35px 0;
	position: relative;
	top: -5px;
}

.archived {
    font-color: #666666;
}

.date {
	font-color: #666666;
}

#artifact {
	border-radius: 7px;
	max-width: 650px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	background-color: #EFF4F8;
	position: relative;
	top: 200px;
}
